@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@300;400&family=Karla:wght@400;500&family=Paytone+One&family=Suravaram&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* font-family: 'ABeeZee', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Suravaram', serif; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  --bg-color-drk: rgb(14, 15, 17);
  --border-cool: 1px rgb(30, 53, 156) solid;
  --border-drk: 1px rgb(37, 1, 1) solid;
  --bg-color-drk1: rgb(14, 15, 17);
  --bg-color-lte1: rgb(223, 223, 223);
  --bg-grad-01: linear-gradient(180deg, rgba(27,27,27,1) 25%, rgba(0,0,0,0.7) 70%);
  --bg-grad-02: linear-gradient(0deg, rgba(27,27,27,1) 65%, rgba(0,0,0,0.7) 90%);
  --tx-drk: rgb(17,17,18);
  --text-lte: rgb(185, 185, 185);
  background: var(--bg-color-drk1);
  background: var(--bg-grad-02);
  color: var(--text-lte);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  font-size: 1.3rem;
  margin: 20px;
}

section h3 {
  text-align: center;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* header */

.header-container {
  background: var(--bg-color-drk1);
  background: var(--bg-grad-01);
  border-bottom: var(--border-cool);
  /* height: 100rem; */
}

.header-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* height: auto; */
}


.navbar {
  font-family: 'Karla', sans-serif;
  justify-content: flex-start;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.2em;
  padding-right: 3rem;
}

.navbar-nav {
  font-weight: 200;
}

.jumbotron {
  background-color: rgb(34, 37, 41);
  color: var(--text-lte);
  padding: 10px;
}


#profile-img img {
  height: 300px;
}

#about {
  font-family: 'Karla', sans-serif;
  background-color: rgb(34, 37, 41);
}

.bio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-lte);
  font-family: 'Karla', sans-serif;
}


#about-me-text {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 1px;
  padding: 0 1.2rem 1rem 1.2rem;
}


/* SKILLS */
.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 4rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 0 .1rem;
  width: 75px;
}

.skill-drk {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.skill img {
  height: 2rem;
  width: auto;
  align-self: center;
}

.skill i {
  font-size: 2.3rem;
  margin-bottom: .2rem;
  align-self: center;
}

.skill p {
  color: var(--text-lte);
  font-size: .7rem;
}

.colored {
  font-size: 4.35em;
}

/* ABOUT ME */

/* PROJECTS */

#projects {
  font-family: 'Karla', sans-serif;
}
.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: var(--tx-drk);
}

.card {
  background: var(--bg-color-lte1);
}

.card-skill {
  color: var(--tx-drk);
  text-align: center;
}

.github-live-links {
  text-align: center;
}

.tech-used {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tech-used p {
  font-size: 0.75em;
}

.tech-used img {
  filter: grayscale(100%);
}
.tech-used i {
  font-size: 3.6em;
  filter: grayscale(100%);
}

.mb-3 {
  border: none;
}

.col-md-6 {
  padding: 25px;
}
.card-img {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-linkedin,
.fa-envelope,
.fa-github,
.fa-globe-americas {
  font-size: 2em;
  padding: 2px;
}


/* footer */

footer {
  background-color: var(--bg-color-drk1);
  color: var(--text-lte);
  /* height: 3vh; */
  text-align: center;
  padding: 0px;
  border-top: var(--border-cool);
}

#contact {
  /* background: var(--bg-color-drk1); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  margin: auto;
  width: 60%;
}

.email-container {
  display: flex;
  align-items: center;
}

.email {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

.contact {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

.footer-text {
  font-size: .6rem;
  height: 100%;
  padding-top: 10px;
  margin: 0;
}

/* ----------------MEDIA---------------------- */

@media only screen and (min-width: 992px) {

  .header-container {
    background-color: rgb(14, 15, 17);
    padding: 2.5rem 3rem 0 3rem;
    border-bottom: var(--border-cool);
    box-shadow: 0px 2px 3px #000000;
  }
  
  .header-grid {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 20% auto;
    height: auto;
  }
  
  .navbar {
    display: flex;
    font-family: 'Karla', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 1.5rem;
  }

  .navbar-brand {
    font-weight: 700;
    font-size: 1.2em;
    padding: .5rem 0 0 .5rem;
  }
  
  .navbar-nav {
    font-weight: 200;
  }
  
  .nav-details {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
  }
  
  /* SKILLS */

    .skills-container {
      padding: 0 0;
      width: 100%
    }
    
    .skill {
      margin: 0 0;
    }

    .jumbotron {
      display: flex;
      justify-content: center;
      background-color: rgb(34, 37, 41);
      padding: 10px;
    }
    
    .bio-card {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 1.5rem 0 0 .5rem;
    }
    
    #profile-img {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      height: 100%;
    }

    #profile-img img {
      border-radius: 3%;
    }
    
    .nav-details {
      display: flex;
      justify-content: flex-end;
      padding-right: 2rem;
    }

    #about-me-card {
      align-items: flex-start;
      padding-top: 1rem;
    }

    #about-me-text {
      font-size: 1.1rem;
      font-weight: 500;
      text-align: left;
      padding: 1rem 0;
    }

  #projects {
    padding: 0 4rem;
    /* margin: 0 25rem; */
  }

  .card-img:hover {
    border: var(--border-drk);
  }

}

